.container {
  width: 50%;
  margin: 30px auto;
}

.flash_message {
  color: gray;
}

.new_post {
  margin: 30px 0;
}

.task {
  width: 400px;
  margin: 30px 10px;
}

.task_header {
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  a {
    margin-right: 10px;
  }
}

.task_status {
  font-size: 13px;
  color: #e30e26;
}

.task_name {
  margin: 0 5px;
}

.task_priority {
  font-size: 13px;
  color: #0c8741;
}

.task_show {
  margin-left: auto;
}

.task_deadline {
  color: #27a5b0;
}

.show_task_deadline {
  width: 250px;
  margin: 10px auto;
}

.page {
  margin: 30px auto;
}

table {
  width: 600px;
  font-size: 15px;
}

.form_submit {
  margin-top: 10px;
}

.label {
  padding: 5px 10px;
  background-color: #4e53e6;
  color: #fff;
  border-radius: 30px;
}
